#!/bin/bash

set -x

source /etc/environment
if [[ -f /etc/profile.d/proxy.sh ]]; then
    source /etc/profile.d/proxy.sh
fi

# clean crontab, remove compute_node_post_reboot.sh from crontab
crontab -l | grep -v 'compute_node_post_reboot.sh' | crontab -

# reset reboot_required.txt
echo -n "no" > ${BOOTSTRAP_DIR}/reboot_required.txt

SCRIPT_DIR=$( cd -- "$( dirname -- "${BASH_SOURCE[0]}" )" &> /dev/null && pwd )
source "${SCRIPT_DIR}/../common/bootstrap_common.sh"

{% include 'compute-node/_templates/scheduler_stop.jinja2' %}

{% include 'compute-node/_templates/scratch_storage.jinja2' %}

mount -a

MOUNT_DIRS=$(mount | grep lustre | awk '{print $3}')

for dir in $MOUNT_DIRS; do
    chmod 777 "$dir"
done

{%- if context.vars.job.params.enable_efa_support %}
  {% include 'compute-node/_templates/efa.jinja2' %}
{%- endif %}

{%- with node_type = 'compute' %}
  {% include '_templates/linux/gpu_drivers.jinja2' %}
{%- endwith %}

# a reboot may be required if GPU Drivers or FSx for Lustre client are installed.
REBOOT_REQUIRED=$(cat /root/bootstrap/reboot_required.txt)
if [[ "${REBOOT_REQUIRED}" == "yes" ]]; then
  log_info "reboot required. compute_node_post_reboot.sh will be executed after reboot ..."
  (crontab -l; echo "@reboot /bin/bash ${SCRIPT_DIR}/compute_node_post_reboot.sh >> ${IDEA_COMPUTE_NODE_LOGS_DIR}/compute_node_bootstrap.log 2>&1") | crontab -
  reboot
else
  {% include 'compute-node/_templates/configure_hyperthreading.jinja2' %}

  if [[ -f ${IDEA_CLUSTER_HOME}/${IDEA_MODULE_ID}/compute_node/userdata_customizations.sh ]]; then
    /bin/bash ${IDEA_CLUSTER_HOME}/${IDEA_MODULE_ID}/compute_node/userdata_customizations.sh >> ${IDEA_COMPUTE_NODE_LOGS_DIR}/userdata_customizations.log 2>&1
  fi

  {% include 'compute-node/_templates/scheduler_start.jinja2' %}
fi
