# Begin: AWS Systems Manager Agent
{%- if context.base_os in ('rhel8', 'rhel9') %}
sed -i 's/enabled=1/enabled=0/' /etc/yum/pluginconf.d/product-id.conf
sed -i 's/enabled=1/enabled=0/' /etc/yum/pluginconf.d/subscription-manager.conf
{%- endif %}
{%- if context.base_os in ('ubuntu2204') %}
set -x
snap services amazon-ssm-agent
if [[ "$?" != "0" ]]; then
  snap install amazon-ssm-agent --classic
fi
{%- endif %}
{%- if context.base_os in ('amazonlinux2', 'rhel8', 'rhel9', 'rocky8', 'rocky9') %}
systemctl status amazon-ssm-agent
if [[ "$?" != "0" ]]; then
  machine=$(uname -m)
  if [[ $machine == "x86_64" ]]; then
    yum install -y {{ context.config.get_string('global-settings.package_config.aws_ssm.x86_64', required=True) }}
  elif [[ $machine == "aarch64" ]]; then
    yum install -y {{ context.config.get_string('global-settings.package_config.aws_ssm.aarch64', required=True) }}
  fi
  systemctl enable amazon-ssm-agent || true
  systemctl restart amazon-ssm-agent
fi
{%- endif %}
# End: AWS Systems Manager Agent


