# Begin: AWS CLI
{%- if context.base_os in ('centos7', 'rhel7') %}
which aws > /dev/null 2>&1
if [[ "$?" != "0" ]]; then
  log_info "# installing aws-cli"
  yum install -y python3-pip
  PIP=$(which pip3)
  $PIP install awscli
fi
{%- endif %}
# End: AWS CLI
