# Begin: Disable ulimit
{%- if context.base_os in ('amazonlinux2', 'rhel8', 'rhel9', 'rocky8', 'rocky9', 'ubuntu2204', 'ubuntu2404') %}
echo -e "
* hard memlock unlimited
* soft memlock unlimited
" >> /etc/security/limits.conf
{%- endif %}
# End: Disable ulimit
