# Begin: Disable ulimit
{% if context.base_os in ('amazonlinux2023', 'rhel8', 'rhel9', 'rhel10', 'rocky8', 'rocky9', 'rocky10', 'ubuntu2204', 'ubuntu2404', 'ubuntu2604') %}
echo -e "
* hard memlock unlimited
* soft memlock unlimited
" >> /etc/security/limits.conf
{% endif %}
# End: Disable ulimit
