{% if context.base_os in ('amazonlinux2023', 'rhel8', 'rhel9', 'rhel10', 'rocky8', 'rocky9', 'rocky10') %}
  # RHEL, CentOS, Rocky Linux, and Amazon Linux (firewalld-based distros)
  if [[ "$(systemctl show --property=LoadState --value firewalld.service)" == loaded ]]; then
    systemctl stop firewalld
    systemctl disable firewalld
    systemctl mask firewalld
  fi
{% elif context.base_os in ('ubuntu2204', 'ubuntu2404', 'ubuntu2604') %}
  # Ubuntu
  if [[ "$(systemctl show --property=LoadState --value ufw.service)" == loaded ]]; then
    systemctl stop ufw
    systemctl disable ufw
    systemctl mask ufw
  fi
{% endif %}
