# Begin: motd update
{% if context.base_os in ('amazonlinux2', 'amazonlinux2023', 'rhel8', 'rhel9', 'rocky8', 'rocky9', 'ubuntu2204', 'ubuntu2404') %}
echo -e "
     ________  _________
    /  _/ __ \/ ____/   |
    / // / / / __/ / /| |
  _/ // /_/ / /___/ ___ |
 /___/_____/_____/_/  |_|
{% for message in messages %}
{{ message }}
{% endfor %}
> source /etc/environment to load IDEA paths
" > /etc/motd
{% endif %}
# End: motd update
