# Begin: NFS Utils and dependency items

{%- if context.base_os in ('rhel8', 'rhel9', 'rocky8', 'rocky9') %}
if [[ -z "$(rpm -qa nfs-utils)" ]]; then
  log_info "# installing nfs-utils"
  yum install -y nfs-utils
fi
{%- endif %}

{%- if context.base_os in ('ubuntu2204') %}
if [[ -z "$(dpkg -l nfs-common | grep ^ii)" ]]; then
  log_info "# installing nfs-common"
  apt update && apt install -y nfs-common
fi
{%- endif %}

{% include '_templates/linux/efs_mount_helper.jinja2' %}

# End: NFS Utils
